/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* Set the background color for my page: */

#button{
    object-position: center ;
    background-color: rgb(176, 221, 243);
    border:1.5px;
    border-color:rgb(16, 120, 87);
    border-style: solid;
    border-radius: 8px;
    font-family: Oswald; 
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    text-align: center;
    margin: auto
}

#button:hover{

    background-color:rgb(16, 120, 87, .3);
    border-color:rgb(0, 0, 0);
}

body{

    background-color: #aec8e4;
    margin-top: 0px; margin-bottom: 0px; margin-left: 0; margin-right: 0px;
    text-align: center;

}

/* Choose the appearance of the tags, h1, h3 and p: */
h1 {
    color:rgb(0, 0, 0);
    font-family: 'Roboto slab', sans-serif;
    font-size: xx-large large;
    text-align: center;
    text-size-adjust: auto ;
}
h3{
  color:rgb(0, 0, 0);
  font-family: 'Roboto slab', sans-serif;
  font-size: larger;
  text-decoration: blueviolet wavy underline;
  text-align: center;
  text-size-adjust: auto ;
}
h4, p{
    color:rgb(17,17,17);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: small;
    text-size-adjust: auto ;
}
    

    




/* Set the apperance of the class, chart */
.chart{
     width: fit-content;
     height: fit-content;
     background-color: rgb(250, 243, 250);
     border-color: rgb(250, 243, 250);
     margin: 1px;
     text-align: center;
     border-block: 1px;
     border-block: 2px dotted;
     border-block: medium dashed rgb(86, 86, 183);
     
    
     
     /*5px 50px 25px 200px*/
   
   }
   
   .chart:hover {
     transform: scale(1.04, 1.04);
     transition: 0.6s;
     
   }

   .container {
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;
  }
  .item-a {
    justify-self: center;
  }


  img {  background-color: white;
    width: auto;
    border-width: 0px;
    border-radius: 10px;
    border-style:solid;
    border-color: #7a6a6a;
    margin-left: -20px;
    overflow: auto;
    display: block;
    margin: 0 auto;
    
}